body{
    background-color: black;
}

#backdrop{
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;
}

.details-content{
    background: linear-gradient(to top, #000000 50%, #00000000 100%);
    /* background-color: red; */
    width: 100vw;
    height: 710px;
    color: white;
}

h1{
    color: white;
    margin-left: 10px;
}

#details h1{
    text-align: center;
}

@media screen and (max-width: 750px) {
    .card{
        max-width: 150px !important;
        max-height: 410px;
        img{
            min-height: 150px!important;
        }
        h6{
            font-size: 10px !important;
            width: 120px;
        }
        p{
            font-size: 10px !important;
        }
    }
    .card-body{
        padding: 0.5rem !important;
    }
    .overview{
        position: absolute;
        top: 0;
        height: 190px;
        font-size: 14px;
        color: white;
        text-shadow: 0px 0px 3px black;
        margin-left: 5px;
        margin-top: 3px;
        font-family: monospace;
        display: none;
        animation: alternate 0.5s ease;
        overflow-y: auto;
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }
}